<% if logged_in?(:site_admin) %>
    <nav aria-label="breadcrumb" class="breadcrumb blogcrumb">
        <%= link_to blog_status_icon(blog), toggel_status_blog_path(blog) %>
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
        <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
<% end %>