<h1>Portfolio Items</h1>
<% @portfolio_items.each do |portfolio_item| %>
<h2><%= portfolio_item.title %></h2>
<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<%= image_tag portfolio_item.thub_image unless portfolio_item.thub_image.nil? %>
<% end %>